# Ignorar entornos virtuales
venv/
ENV/

# Ignorar archivos de caché de Python (bloquea ambas variantes por si acaso)
__pycache__/
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignorar bases de datos locales
*.sqlite3

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db